@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

:root {
  --main-cl: #528352;
  --primary-cl: #FFCC00;
  --second-cl: #FAF5E9;
  --black-cl: #180303;
  --main-font: 'Mukta', sans-serif;
  --main-fsize: 14px;
  --title-fsize: 18px;
  --red-clr: #BB2B3B;
}
