.specifications {
  width: 100%;
  margin-top: 1rem;
}
tr td {
  text-align: left !important;
  cursor: pointer;
}
b {
  display: block;
  font-family: var(--font-dep);
  font-size: 23px;
}
